{% load i18n %}

{% block subject %}
{% blocktrans %}Account activation on {{ site_name }}{% endblocktrans %}
{% endblock subject %}

{% block text_body %}
{% blocktrans %}You're receiving this email because you need to finish activation process on {{ site_name }}.{% endblocktrans %}

{% trans "Please go to the following page to activate account: really, are u not working" %}
{{ protocol }}://{{ frontend_url }}/{{ url|safe }}

{% trans "Thanks for using our site!" %}

{% blocktrans %}The {{ site_name }} team{% endblocktrans %}
{% endblock text_body %}

{% block html_body %}
<div>
    <header 
    style="
        background-color: #fff;
    "
    >
        <h2 style="color: #333;">
                {% trans "Skill" %}<span style="color: #2563EB;">{% trans "Cert" %}</span>
        </h2>
    </header>
    
    <div class="mail-body">
        <p>{% blocktrans %}You're receiving this email because you need to finish activation process on {{ site_name }}.{% endblocktrans %}</p>
    
        <p>{% trans "Please go to the following page to activate account: really, are u not working" %}</p>
        <p><a href="{{ protocol }}://{{ frontend_url }}/{{ url|safe }}">{{ protocol }}://{{ frontend_url }}/{{ url|safe }}</a></p>
        
        <p>{% trans "Thanks for using our site!" %}</p>
        
        <p>{% blocktrans %}The {{ site_name }} team{% endblocktrans %}</p>
    </div>

    <footer >
        <p> {% blocktrans %}
            Copyright &copy; 2022 {{ site_name }}. All rights reserved.
        {% endblocktrans %} </p>
    </footer>
</div>


{% endblock html_body %}
